<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile-Change-Password</title>
    <link href="/styles.css" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
<div class="sidebar">
    <div class="profile-img-container">
        <div>
            <span>
          <img class="profile-photo" alt="profile picture"
               th:src="${user.getProfilePictureUrl().isEmpty() ? 'https://cdn.pixabay.com/photo/2018/11/13/21/43/avatar-3814049__340.png': user.getProfilePictureUrl()}"
               width="80" height="80" style="object-fit: cover;"/>
        </span>
        </div>
        <div class="userName-box">
            <p class="userName"><span class="id" th:text="${user.userName}"></span></p>
        </div>
        <div class="flex">
            <ion-icon class="sidebar-icon" name="location-outline"></ion-icon>
            <p class="location" th:text="${user.location}"></p>
        </div>
    </div>
    <div class="link-container">
        <div class="grid">
            <ion-icon class="sidebar-icon" name="person-circle-outline"></ion-icon>
            <!--            <h1>Profile</h1>-->
            <a class="sidebar-link" th:href="@{/profile/{id} (id=${userId})}">Profile</a>
        </div>
        <div class="grid">
            <ion-icon class="sidebar-icon" name="chatbox-ellipses-outline"></ion-icon>
            <!--            <h1>Chat</h1>-->
            <a class="sidebar-link" th:href="@{/group-chat/{id} (id=${userId})}">Chat</a>
        </div>
        <div class="grid">
            <ion-icon class="sidebar-icon" name="log-out-outline"></ion-icon>
            <a class="sidebar-link" th:href="@{/}">Log out</a>
        </div>
    </div>
</div>
<div class="main-content">
    <form class="form" method="post" th:action="@{/profile/{id}/changePassword (id=${userId})}">
        <p class="new-form-title">Change Password</p>
        <div class="input-container">
            <input placeholder="Current password" type="password" name="password" minlength="8" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must contain at least 8 characters, including at least one letter and one number">
        </div>
        <div class="input-container">
            <input placeholder="New password" type="password" name="newPassword" minlength="8" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must contain at least 8 characters, including at least one letter and one number">
        </div>
        <div class="input-container">
            <input placeholder="Confirm password" type="password" name="confirmPassword" minlength="8" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Password must contain at least 8 characters, including at least one letter and one number">
        </div>
        <div>
            <button class="submit" type="submit">Change Password</button>
        </div>
        <div class="message">
            <p>
                <span th:if="${passwordUpdateMessage == 'password_updated'}">Password updated successfully.</span>
            </p>
            <p>
                <span th:if="${passwordUpdateMessage == 'password_update_failed'}">Password update failed.</span>
                <span th:if="${param.error}" th:text="${param.error}"></span>
            </p>
        </div>
    </form>
</div>
</body>
</html>




